/* ======= main styles ======= */

        /* background image for full webpage */
html { 
    background: url(../img/antipasti-delicious-dinner-5876.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-family: 'Montserrat', sans-serif;
}

/* ======= flexbox layout for whole page ======= */

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-div {
    width: 390px;
}

#header-div {
    width: 100%;
}

/* ======= recipe form ======= */

.header {
    color: white;
    background-color: rgba(133, 142, 133, 0.85);
    text-align: center;
    padding: 14px 258px;
}

.entry {
    background-color: rgba(133, 142, 133, 0.85);
    color: white;
}

#form-title {
    color: rgb(83, 90, 83);
    background-color: white;
    padding: 6px;
    border-radius: 3px;
}

.category {
    padding-right: 37px;
}

.radio:hover {
    background-color: #ccc;
}

.type-something {
    border: 1px solid rgba(133, 142, 133);
    border-radius: 3px;
    box-shadow: 2px 2px 7px rgb(0, 0, 0, 0.4);
}

.buttons {
    color: rgba(133, 142, 133);
    border: 1px solid rgba(133, 142, 133);
    border-radius: 5px;
    font-size: 1em;
    padding: 10px 11px;
    box-shadow: 1px 1px 7px rgb(0, 0, 0, 0.4);
}

.buttons:hover {
    color: rgb(83, 90, 83);
}

textarea {
    min-width: 99%;
    height: 9em;
}

/* ======= listed recipes ======= */

#list-container {
    background-color: white;
}

.list-group {
    padding: 0 30px;
}

.list-group-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1.45px solid rgba(133, 142, 133); 
}

a {
    text-decoration: none;
}

.favorite-label {
    color: purple;
}

.delete-button {
    background-color: rgba(133, 142, 133);
    color: white;
    border-radius: 5px;
    padding: 5px 6px;
}

/* ======= media queries ======= */

@media (min-width: 680px) {
    #form-div {
        width: 650px;
    }

    .category {
        padding-right: 27px;
    }
    
    #list-container {
        width: 675px;
    }

    #list-title {
        width: 675px;
    } 
}